
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */